body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/court.jpg'); /* Replace 'path/to/your/background/image.jpg' with the actual path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding: 20px; /* Add padding to prevent content from touching the edges */
}

.players-container {
    display: flex;
    flex-direction: row; /* Align players vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    margin-top: 20px;
}

.player {
    border: 1px solid #ddd;
    padding: 10px;
    width: 350px;
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.8); /* Add background color with opacity for better readability */
}

.events {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Add margin to separate events from buttons */
}

.event {
    margin: 10px 3px; /* Adjusted margin */
}

.card-image {
    width: 100px;
    height: auto;
    margin: 5px;
    cursor: pointer;
}

.draw-button,
.reset-button {
    display: block;
    margin-bottom: 10px;
    margin-left: auto; /* Align buttons to the right */
    margin-right: auto; /* Align buttons to the left */
}

.reset-button {
    padding: 5px 10px;
    font-size: 14px;
}

.counter {
    display: block;
    margin-top: 10px;
    text-align: center;
}
